body{
font-family: sans-serif;
}


label {
  font-size: 1.3em;
}

.input{
  width: 200px;
  height: 40px;
  border-radius: 10px;
  font-size: 1.3em;
}

#dept {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-color: rgb(91, 192, 222);
}

#dept, h2 {
  text-align: center;
  padding-top: 10px;
}

#incomeTotal {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-color: rgb(91, 192, 222);
}

#incomeTotal, h2 {
  text-align: center;
  padding-top: 10px;
}

#remaining {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-color: rgb(91, 192, 222);
}

#remaining, h2 {
  text-align: center;
  padding-top: 10px;
}

#addbtn{
  margin: 10px 0 20px 0;
}
