
<button class="big" Onclick="window.location.href='#welcom'">Back</button>

<div ng-controller="inputController">
<div class="container">
<form>
<div class ="row">
<div class="col-md-3">
<label for="name">First Name</label>
<input type="text" id="firstName" name="name" ng-model="budget.name" />
</div>
</div>
<div class ="row">
<div class="col-md-3">
<label for="month">Budget Month</label>
<input type="text" id="month" name="month" ng-model="budget.month" />
</div>
</div>

<div class ="row">
<div class="col-md-4">
<label for="income">Monthly Income</label> $:
<input type="number" id="income" name="income" ng-model="budget.income" />
</div>
</div>

<div class ="row">
<div class="col-md-4">
<label for="income">Mortgage / Rent</label> $:
<input type="number" id="income" name="income" ng-model="budget.housing" />
</div>
</div>

<div class ="row">
<div class="col-md-4">
<label for="income">Auto Payment</label> $:
<input type="number" id="income" name="income" ng-model="budget.auto" />
</div>
</div>

<div class ="row">
<div class="col-md-4">
<label for="income">Student Loans</label> $:
<input type="number" id="income" name="income" ng-model="budget.student" />
</div>
</div>

<div class ="row">
<div class="col-md-4">
<label for="income">Health Insurance</label> $:
<input type="number" id="income" name="income" ng-model="budget.health" />
</div>
</div>

<div class ="row">
<div class="col-md-4">
<label for="income">Auto Insurance</label> $:
<input type="number" id="income" name="income" ng-model="budget.autoIns" />
</div>
</div>

<div class ="row">
<div class="col-md-4">
<label for="income">Credit Card</label> $:
<input type="number" id="income" name="income" ng-model="budget.credit" />
</div>
</div>

<div class ="row">
<div class="col-md-4">
<label for="income">Cell Phone</label> $:
<input type="number" id="income" name="income" ng-model="budget.cell" />
</div>
</div>

<div class ="row">
<div class="col-md-4">
<label for="income">Cable Bill</label> $:
<input type="number" id="income" name="income" ng-model="budget.cable" />
</div>
</div>

<div class ="row">
<div class="col-md-4">
<label for="income">Internet</label> $:
<input type="number" id="income" name="income" ng-model="budget.internet" />
</div>
</div>

<div class ="row">
<div class="col-md-4">
<label for="income">Utilities</label> $:
<input type="number" id="income" name="income" ng-model="budget.util" />
</div>
</div>

<div class ="row">
<div class="col-md-4">
<label for="income">Misc 1</label> $:
<input type="number" id="income" name="income" ng-model="budget.misc1" />
</div>
</div>

<div class ="row">
<div class="col-md-4">
<label for="income">Misc 2</label> $:
<input type="number" id="income" name="income" ng-model="budget.misc2" />
</div>
</div>

<div class ="row">
<div class="col-md-4">
<label for="income">Misc 3</label> $:
<input type="number" id="income" name="income" ng-model="budget.misc3" />
</div>
</div>

<div class ="row">
<div class="col-md-4">
<label for="income">Misc 4</label> $:
<input type="number" id="income" name="income" ng-model="budget.misc4" />
</div>
</div>

<div class ="row">
<div class="col-md-4">
<label for="income">Budeget Living Exp</label> $:
<input type="number" id="income" name="income" ng-model="budget.living" />
</div>
</div>
<div>
<button id="addbtn" ng-click="submitNewBudget()">Submit</button>
</div>
<div class="row">
<div class="col-md-4">
<div id="dept">
{{budget.income}}
</div>
</div>
<div class="col-md-4">
<div id="dept">

  {{budget.dept = budget.housing + budget.auto + budget.student + budget.health + budget.autoIns + budget.credit + budget.cell + budget.cable
+ budget.internet + budget.util + budget.misc1 + budget.misc2 + budget.misc3 + budget.misc4 + budget.living }}
</div>
</div>
<div class="col-md-4">
<div id="dept">
{{budget.income - budget.housing - budget.auto - budget.student - budget.health - budget.autoIns - budget.credit - budget.cell - budget.cable
- budget.internet - budget.util - budget.misc1 - budget.misc2 - budget.misc3 - budget.misc4 - budget.living}}
</div>
</div>

</form>
</div>

</div
