<div>
  <button class="big" Onclick="window.location.href='#welcom'">Back</button>
</div>
<div ng-controller="inputController">
<!-- <form id="budgetForm">
<label for="name">Name</label>
<input type="text" id="firstName" name="name" ng-model="budget.name" />

<label for="month">Month</label>
<input type="text" id="month" name="month" ng-model="budget.month" />

<label for="income">Monthly Income</label> $:
<input type="number" id="income" name="income" ng-model="budget.income" />

<br />
<label for="Expense">Expense</label>
<input type="text" id="expense" name="expense" ng-model="budget.expense" />

<label for="amount">Amount</label>
<input type="number" id="amount" ng-model="expense.amount" name="amount" ng-model="budget.amount" />
<button id="expenseBtn" ng-click="addNewExpense()">Add Expense</button>
<br />
<button id="addbtn" ng-click="submitBudget()">Submit</button>
</form> -->
<div class="col-sm-10">
  <input type="button" class="btn btn-info" ng-click="addNewExpense()" value="Add Expense">
  <div class="col-sm-4">
    <fieldset data-ng-repeat="expense in expenses.expense track by $index">
      <input type="number" ng-model=" expenses.expense[$index]"></textarea>
      <button type="button" class="btn btn-default btn-sm" ng-click="removeChoice($index)">
        REMOVE
      </button>
    </fieldset>
  </div>
</div
