
<button class="big" Onclick="window.location.href='#welcom'">Back</button>

<div ng-controller="inputController">
<div class="container">
<form>
<div class ="row">
<div class="col-md-2">
<label for="name">First Name:</label>
</div>
<div class="col-md-2">
<input type="text" class="input" name="name" ng-model="budget.name" />
</div>
</div>
<div class ="row">
<div class="col-md-2">
<label for="month">Budget Month:</label>
</div>
<div class="col-md-2">
<input type="text" class="input" name="month" ng-model="budget.month" />
</div>
</div>

<div class ="row">
<div class="col-md-2">
<label for="income">Monthly Income:</label>
</div>
<div class="col-md-2">
<input type="number" class="input" name="income" ng-model="budget.income" />
</div>
</div>

<div class ="row">
<div class="col-md-2">
<label for="income">Mortgage / Rent:</label>
</div>
<div class="col-md-2">
<input type="number" class="input" name="income" ng-model="budget.housing" />
</div>
</div>

<div class ="row">
<div class="col-md-2">
<label for="income">Auto Payment:</label>
</div>
<div class="col-md-2">
<input type="number" class="input" name="income" ng-model="budget.auto" />
</div>
</div>

<div class ="row">
<div class="col-md-2">
<label for="income">Student Loans:</label>
</div>
<div class="col-md-2">
<input type="number" class="input" name="income" ng-model="budget.student" />
</div>
</div>

<div class ="row">
<div class="col-md-2">
<label for="income">Health Insurance:</label>
</div>
<div class="col-md-2">
<input type="number" iclass="input" name="income" ng-model="budget.health" />
</div>
</div>

<div class ="row">
<div class="col-md-2">
<label for="income">Auto Insurance</label>
</div>
<div class="col-md-2">
<input type="number" class="input" name="income" ng-model="budget.autoIns" />
</div>
</div>

<div class ="row">
<div class="col-md-2">
<label for="income">Credit Card:</label>
</div>
<div class="col-md-2">
<input type="number" class="input" name="income" ng-model="budget.credit" />
</div>
</div>

<div class ="row">
<div class="col-md-2">
<label for="income">Cell Phone</label>
</div>
<div class="col-md-2">
<input type="number" class="input" name="income" ng-model="budget.cell" />
</div>
</div>

<div class ="row">
<div class="col-md-2">
<label for="income">Cable Bill</label>
</div>
<div class="col-md-2">
<input type="number" class="input" name="income" ng-model="budget.cable" />
</div>
</div>

<div class ="row">
<div class="col-md-2">
<label for="income">Internet</label>
</div>
<div class="col-md-2">
<input type="number" class="input" name="income" ng-model="budget.internet" />
</div>
</div>

<div class ="row">
<div class="col-md-2">
<label for="income">Utilities</label>
</div>
<div class="col-md-2">
<input type="number" class="input" name="income" ng-model="budget.util" />
</div>
</div>

<div class ="row">
<div class="col-md-2">
<label for="income">Misc Expense</label>
</div>
<div class="col-md-2">
<input type="number" class="input" name="income" ng-model="budget.misc1" />
</div>
</div>

<div class ="row">
<div class="col-md-2">
<label for="income">Misc Expense</label>
</div>
<div class="col-md-2">
<input type="number" class="input" name="income" ng-model="budget.misc2" />
</div>
</div>

<div class ="row">
<div class="col-md-2">
<label for="income">Misc Expense</label>
</div>
<div class="col-md-2">
<input type="number" class="input" name="income" ng-model="budget.misc3" />
</div>
</div>

<div class ="row">
<div class="col-md-2">
<label for="income">Misc Expense</label>
</div>
<div class="col-md-2">
<input type="number" class="input" name="income" ng-model="budget.misc4" />
</div>
</div>

<div class ="row">
<div class="col-md-2">
<label for="income">Budeget Living Exp</label>
</div>
<div class="col-md-2">
<input type="number" class="input" name="income" ng-model="budget.living" />
</div>
</div>
<div>
<button id="addbtn" ng-click="submitNewBudget()">Submit</button>
</div>
<div class="row">
<div class="col-md-4">
<div id="incomeTotal">
<h2>Income</h2>
<h2>${{budget.income}}</h2>
</div>
</div>
<div class="col-md-4">
<div id="dept">
  <h2>Expenses</h2>
  <h2>${{budget.dept = budget.housing + budget.auto + budget.student + budget.health + budget.autoIns + budget.credit + budget.cell + budget.cable
      + budget.internet + budget.util + budget.misc1 + budget.misc2 + budget.misc3 + budget.misc4 + budget.living }}</h2>
</div>
</div>
<div class="col-md-4">
<div id="remaining">
<h2>Remaining</h2>
<h2>${{budget.remaining = budget.income - budget.housing - budget.auto - budget.student - budget.health - budget.autoIns - budget.credit - budget.cell - budget.cable
    - budget.internet - budget.util - budget.misc1 - budget.misc2 - budget.misc3 - budget.misc4 - budget.living}}</h2>
</div>
</div>

</form>
</div>

</div
