

<div ng-controller="reportsController">
<form id="searchForm">
  <div class = "row">
  <div class="col-md-4">
  <label for="name">Name:</label>
  <input class="searchInput" type="text" ng-model="searchBy.name" />
</div>
  <div class="col-md-4">
    <select ng-model="searchBy.month">
      <option  value="">Select One</option>
      <option  value="January">January</option>
      <option  value="February">February</option>
      <option  value="March">March</option>
      <option  value="April">April</option>
      <option  value="May">May</option>
      <option  value="June">June</option>
      <option  value="July">July</option>
      <option  value="August">August</option>
      <option  value="September">September</option>
      <option  value="October">October</option>
      <option  value="November">November</option>
      <option  value="December">December</option>
    </select>
  </div>
</div>
</form>
<p>{{searchBy.name}}</p>
<p>{{searchBy.month}}</p>

<button ng-click="getBudget()">Reports</button>

<div ng-repeat="budget in budgetData">
  {{budget.name}}  {{budget.month}} {{budget.income}}
</div>

</div>
